body {
	font-family: 'Not Sans', sans-serif;
}

.heading {
	padding-top: 50px;
	padding-bottom: 45px;
	background-color: green;
	color: white;
}

.title > h1 {
	font-size: 70px;
}

.row {
	padding: 15px;
}

h2 {
	font-size: 50px;
}
